page-home {
  .card-header{
      background-color: #00bcd4;
      color: white;
  }

  .card-title {
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    background-color:  #f2f2f2;
  }
}
