page-home {
  .card-header{
      background-color: #00bcd4;
      color: white;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color: black;
  }
}
